/* n.navbar{
	
	border: 0.5px #8a8b8c !important;

} */


.image-container {
	width: 100%;
	padding: 0rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
	/* border: 5px solid #A04000; */
	border: 6px solid #60EE14;
	/*opacity: 0.75;*/
	/* box-shadow: -10px 10px rgba(0, 0, 0, 0.5); */
	box-shadow: 0px 0px 3px #fdf1f1;
}

body{
	/* background-color: #F7F7F7 !important; */
	background-color: #4a4949 !important;
	/* font-family: 'Noto Sans KR', sans-serif !important; */
}


h1{
	color: #35c535;
	font-family: 'Noto Sans KR', sans-serif;
}

h2{
	color: #35c535;
	font-family: 'Roboto', sans-serif !important;
	
}

h3{
	
	/* color: #35c535; */
	color: #60EE14;

	/* color: #73AD21; */
	font-size: 43px;
	font-weight: bold;
	/* text-shadow: 0px 0px 3px #888888; */
	font-family: 'Roboto', sans-serif !important;
	/* text-shadow: 0px 0px 1px #fdf1f1; */
}

p{
	font-family: 'Roboto', sans-serif !important;
}





.brand-logo {
	width: 40px;
	vertical-align: middle;
	box-shadow: 8px #888888;

}

.social-logo{
	width: 40px;
	vertical-align: middle;
	box-shadow: 8px #888888;
	border: 2px solid #73AD21 !important;
	border-radius: 50%;

}



.social-logo:hover{
	opacity: 0.5;

}

.brand-text {
	color: white;
	height: 900px;
	font-size: 500%;
	font-family: sans-serif;
	text-shadow: 0px 0px 8px #888888;
}

.about-text{
	font-size: 22px;
	/* color: #35c535; */
	color: #60EE14;
	font-family: sans-serif;
}

/*.social-media a:hover {
	opacity: 1;
}*/


.check-words{
	font-size: 30px; 
}

.skills-logo {
	width: 100px;
	height: 95px;
}

.skills-icon {
	width: 140px;
	height: 135px;
	
}

.portfolio-icon {
	width: 200px;
	height: 140px;
}

.about-logo {
	width: 165px;
	height: 156px;
	/* border: 3px solid #73AD21 !important; */
	border: 5px solid #60EE14 !important;
	border-radius: 50%;

	
}

.skills-logo:hover {
    /* position:relative; */
    /* top:-5px;
    left:-5px; */
	transform: scale(1.5);
	transition: all 0.3s ease-in-out;
}

/* .skills-logo:hover {
	height: 125px;
	width: 100px;
  	margin: 3% 1.5%;
  	transition: all 0.3s ease-in-out;
} */

.client-logo {
	width: 20% !important;
	height: 80px !important;
}

.nav-logo{
	width: 38px !important;
	height: 38px !important;
	/* border: 0px 0px 3px #fdf1f1; */
	/* border: 1px solid #60EE14 !important; */
	/* border: 1px solid #fdf1f1 !important; */
}

.partner-logo {
	width: 70px;
	height: 20px;
}

.bg-secondary{
	background-color: #258B25 !important;
}

.navbar-brand{
	/* color: gray !important; */
	/* color: #5CEC0F !important; */
	color: #50CF0C !important;
}


.payment-text{
	color: #425798;
}

.organs{
	width: 50%;
	box-shadow: 0px 0px 8px #888888;
}

/* .navbar-brand{

	text-transform: uppercase;
	color: #35c535 !important;
}

.nav-link{
	color: #35c535 !important;
	font-size: 20px;
}

.nav-link:hover{
	opacity: 0.8;
} */

.brand-word{
	position: absolute;
}


.card{
	box-shadow: 0px 0px 8px #fdf1f1;
	height: 55vh !important; 
}

.card-body{
	background-color: #35c535 !important;
	opacity: 1.8 !important;
	height: 10vh !important;
	

}

.card-img{
	height: 80% !important;
	/* width: 75% !important; */
}

.card-img:hover{
	opacity: 0.8;
}

.card-title{
	color: #e5e5e3 !important;
	height: 5vh !important;
}

.card-text{
	color: white !important;
}

.btn{
	border: 0.5px !important;
	color:  white !important;
	border: 0.3px solid #425798 !important;
	width: 45%;
	box-shadow: 0px 0px 8px #888888;
	background-color: #425798;

}

.py-5{
	background-color: #147314 !important;
	height: 150px;

}


.footer-text{
	color: #e5e5e3;
}

.footer{
	background-color: #63E829 !important;
}


.social-media a {
	color: #efefef !important;
	margin: 0 .5rem !important; 
	font-size: 1.5rem !important;
	opacity: .75 !important;
}

#partner-text{
	color: #425798 !important;
}



@media only screen and (min-width: 361px) and (max-width: 960px){



.indie-text{
	width: 90% !important;
	

}


.form-message{
	width: 90px !important;
	background-color: red;
	

}

.gmap{
	width: 100% !important;
}	


}



@media only screen and (max-width: 400px) 
{

.brand-text{
	height: 100px !important;
}

.form-message{
	width: 100% !important;
	background-color: red;

}

.gmap{
	width: 100% !important;
}	


}



@media only screen and (min-width: 401px) and (max-width: 960px){



    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        font-size: 30px;
    }

    .landing-content h3 {
        font-size: 20px;
    }

    span {
        font-size: 30px;
    }

    .form-message{
    	width: 90%;
    }

    .container{

		height: 100px;
	}

	.brand-text{
	height: 70% !important;
}


}

/*responsive - mobile*/
@media only screen and (max-width: 400px){

    .landing-content {
        text-align: center;
        padding: 25px;
    }

    .landing-content h1 {
        margin-top: 30px;
        font-size: 35px;
    }

    .landing-content h3 {
        font-size: 15px;
    }

    span {
        font-size: 25px;
    }

     .form-message{
    	width: 90%;
    }

}




/*@media only screen and (max-width: 360px){*/



	.responsive-icon {
		visibility: visible;
		font-size: 20px;
	}

	.responsive-hidden {
		visibility: hidden;
	}

	.fa-home {
		position: relative;
		top: 10px;
	}

	.fa-users {
		position: relative;
		top: 11px;
	}

	.fa-image {
		position: relative;
		top: 11px;
	}

	.fa-seedling {
		position: relative;
		top: 11px;
	}

	.fa-phone {
		position: relative;
		top: 11px;
	}

	/*contact*/
/*	.contact-page {
		height: 220vh;
	}

	.container-centered{
		flex-direction: column;
	}

	.contact-page h1{
		margin-top: 0px;
	}

	#contact-text-area {
		width: 340px;
	}

	#google-map {
		margin-top: 10px;
	}

	.contact-details {
		height: auto;
	}*/

	/*footer*/
/*	footer {
		opacity: 0;
	}

	footer p {
		margin: 0px;
	}

}*/


  
  .roof {
	  width: 0;
	  height: 0;
	  top:2px;
	  border-style: solid;
	  border-width: 0 21px 15px 21px;
	  border-color: transparent transparent #ffffff transparent;
  }
  
  .roof-edge {
	  position: absolute;
	  z-index: 20;
	  left: -17px;
	  top: 3px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 0 17px 12px 17px;
	  border-color: transparent transparent #35c535 transparent;
  }
  /*white triangle over red triangle*/
  .roof-edge:after {
	  position: absolute;
	  left: -14.5px;
	  top: 3px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 0 14.5px 10px 14.5px;
	  border-color: transparent transparent white transparent;
  }
  
  .front {
	  position: relative;
	  top: 3px;
	  width: 28.5px;
	  height: 20px;
	  margin: 0 auto;
	  background: white;
  }
  /*door*/
  .front:after {
	  position: absolute;
	  background: #35c535;
	  width: 11px;
	  height: 13px;
	  bottom: 0;
	  left:9px;
  }
  
  /*/// About me ////*/
  
  .head {
	  width: 32px;
	  height: 35px;
	  background: white;
	  border-radius:8px;
  }
  /*mouth*/
  .head:after {
	  width: 4px;
	  height: 10px;
	  background: white;
	  position: absolute;
	  border-radius:4px 0 0 4px;
	  top:21px;
	  left: 14px;
	  transform:rotate(270deg);
  }
  
  .eyes {
	  width: 8px;
	  height: 5px;
	  border-radius: 50%;
	  position: absolute;
	  top: 10px;
	  left: 5px;
	  background: #35c535;
  }
  /*right eye*/
  .eyes:after {
	  width: 8px;
	  height: 5px;
	  border-radius: 50%;
	  position: absolute;
	  top: 0;
	  left: 14px;
	  background: #35c535;
  }
  
  .beard {
	  width: 32px;
	  height: 17px;
	  background: #35c535;
	  border:2px solid white;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  border-radius:0 0 8px 8px;
  }
  /*nose*/
  .beard:after {
	  position: absolute;
	  top:-2px;
	  left: 11px;
	  background: white;
	  width:6px;
	  height: 4px;
	  border-left:1px solid #35c535;
	  border-right:1px solid #35c535;
  }
  
  /*//work//*/
  
  .paper {
	  position: relative;
	  height:32px;
	  width: 29px;
	  background: white;
	  border:2px solid white;
  }
  
  /*window*/
  .paper:after {
	  position: absolute;
	  top:1px;
	  left: 0;
	  width: 25px;
	  height: 29px;
	  background: white;
	  border-top:4px solid #35c535;
  }
  
  .lines {
	  position: absolute;
	  top: 36px;
	  left: 5px;
	  width: 11px;
	  box-shadow: 0 0 0 1px #35c535;
  }
  
  .lines:after {
	  position: absolute;
	  top: 4px;
	  left: 3px;
	  width: 14px;
	  box-shadow: 0 0 0 1px #35c535;
  }
  
  .lines:nth-child(2) {
	  position: absolute;
	  top: 44px;
	  left: 8px;
	  width: 11px;
  }
  
  .lines:nth-child(2):after {
	  position: absolute;
	  top: 4px;
	  left: -3px;
	  width: 11px;
  }
  
  .lines:nth-child(3) {
	  position: absolute;
	  top: 52px;
	  left: 8px;
	  width: 14px;
  }
  
  .lines:nth-child(3):after {
	  display: none;
  }
  
  /*//mail //*/
  
  .mail-base {
	  position: relative;
	  width: 32px;
	  height: 18px;
	  background: white;
  }
  
  .mail-top {
	  position: absolute;
	  z-index: 20;
	  left: 0;
	  top: 0;
	  width: 0;
	  height: 0;
	  transform: rotate(180deg);
	  border-style: solid;
	  border-width: 0 16px 11px 16px;
	  border-color: transparent transparent #35c535 transparent;
  }
  
  .mail-top:after {
	  position: absolute;
	  z-index: 20;
	  left: -16px;
	  top: 3px;
	  width: 0;
	  height: 0;
	  border-style: solid;
	  border-width: 0 16px 9px 16px;
	  border-color: transparent transparent white transparent;
  }